$mainTransition: 0.3s;
$colorMain: #52891D;


@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.eot');
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
	url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Regular.woff') format('woff'),
	url('../fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.eot');
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
	url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Bold.woff') format('woff'),
	url('../fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
	url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Black.woff') format('woff'),
	url('../fonts/Gilroy-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

body {
	@include font-gilroy;
}
h1 {
	@include font-gilroy;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
	color: #000000;
}
h2 {
	@include font-gilroy;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}
p {
	@include font-gilroy;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

ul {
	padding-left: 20px;
	li {
		list-style: disc;
	}
}
.py-100-my-50 {
	padding-top: 100px;
	padding-bottom: 100px;
	@media (max-width: 991px) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
