.form-search {
	.form-search-input {
		height: unset!important;
		@include font-gilroy;
		font-size: 12px;
		line-height: 14px;
		color: #000000!important;

		padding: 15px 50px 15px 32px!important;
		border: 1px solid #EDEDED!important;
		border-radius: 50px;

		&::-webkit-input-placeholder 	{ opacity: 1; color: #000000!important; }
		&:-ms-input-placeholder 		{ opacity: 1; color: #000000!important; }
		&::-ms-input-placeholder 		{ opacity: 1; color: #000000!important; }
		&::placeholder 					{ opacity: 1; color: #000000!important; }

		@media (max-width: 991px) {
			padding: 15px 60px 15px 15px!important;
		}
	}
	.btn-submit {
		background: none!important;
		transition: $mainTransition;
		svg {
			path {
				fill: #454545;
				transition: $mainTransition;
			}
		}
		&:hover {
			transition: $mainTransition;
			svg {
				path {
					fill: $colorMain;
					transition: $mainTransition;
				}
			}
		}
	}
}
.categori-search-wrap.categori-search-wrap-modify-3 {
	border: 0px!important;
	background: none!important;
}

.radio-custom {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	input {
		display: none;
	}
	.radio-custom__circle {
		width: 20px;
		height: 20px;
		min-width: 20px;
		min-height: 20px;
		display: block;
		border: 1px solid $colorMain;
		border-radius: 100%;
		position: relative;
		&:before {
			opacity: 0;
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			content: "";
			background: $colorMain;
			position: absolute;
			top: calc(50% - 5px);
			left: calc(50% - 5px);
			transition: $mainTransition;
		}
	}
	.radio-custom__text {
		@include font-gilroy;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		padding-left: 13px;
	}
	input:checked + span {
		&:before {
			opacity: 1;
			transition: $mainTransition;
		}
	}
}

.input {
	background: #E5E5E5;
	border-radius: 10px;
	padding: 9px 22px;
	@include font-gilroy;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	border: 0px;
	box-shadow: unset;
	&[type="number"] {
		max-width: 70px;
		padding: 9px 10px 9px 28px;
	}
	&.input_white {
		background: #fff;
		&:focus {
			background: rgba(255, 255, 255, 0.95);
		}
	
	}
	&:focus {
		background: #E5E5E5;
	}
	&::-webkit-input-placeholder 	{ opacity: 1; color: #000000!important; }
	&:-ms-input-placeholder 		{ opacity: 1; color: #000000!important; }
	&::-ms-input-placeholder 		{ opacity: 1; color: #000000!important; }
	&::placeholder 					{ opacity: 1; color: #000000!important; }
}
.textarea {
	min-height: 143px;
	background: #E5E5E5;
	border-radius: 10px;
	padding: 20px 13px;
	@include font-gilroy;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	border: 0px;
	box-shadow: unset;
	&:focus {
		background: #E5E5E5;
		outline: none;
		border: 0px;
	}
	&::-webkit-input-placeholder 	{ opacity: 1; color: #000000!important; }
	&:-ms-input-placeholder 		{ opacity: 1; color: #000000!important; }
	&::-ms-input-placeholder 		{ opacity: 1; color: #000000!important; }
	&::placeholder 					{ opacity: 1; color: #000000!important; }
}
.pro-details-quality .cart-plus-minus input.cart-plus-minus-box {
	padding-left: 13px;
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	@media (max-width: 600px) {
		padding-left: 13px;
	}
}