.about {
	padding: 50px 0 100px 0px;

	h2 {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin-bottom: 30px;
	}
	p {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
	}

}
.about-us-area {
	padding: 90px 0 60px 0;
	h2 {
		@include font-gilroy;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin-top: 0px;
		margin-bottom: 39px;
	}
	p {
		@include font-gilroy;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		margin-bottom: 20px;
	}
	span {
		@include font-gilroy;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
	}
	.about-us-area-rops {
		@media (max-width: 991px) {
			margin-top: -25px;
		}
	}
	@media (max-width: 991px) {
		padding: 35px 0px;
	}
}
.about-banner {
	padding-top: 100px;
}


.team{
	.slick-slide {
		padding: 0 15px;
	}
}
.service-wrap.service-wrap-hm9 {
	border: 0px!important;
}
