.btn {
	@include font-gilroy;
	font-size: 18px;
	line-height: 21px;
	color: #fff;

	display: flex;
	align-items: center;
	justify-content: center;

	background: $colorMain;
	border-radius: 30px;
	padding: 11px 22px;

	border: 2px solid transparent;

	transition: $mainTransition;
	svg {
		path {
			transition: $mainTransition;
		}
	}
	&.btn-round-10 {
		border-radius: 10px;
	}
	&:hover {
		background: rgba(82, 137, 29, 0.0);
		color: $colorMain;
		border-color: $colorMain;
		transition: $mainTransition;
		svg {
			path {
				fill: $colorMain;
				transition: $mainTransition;
			}
		}
	}
}


.link-download {
	display: flex;
	align-items: center;

	@include font-gilroy;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	svg {
		margin-right: 8px;
		path {
			transition: $mainTransition;
		}
	}
	&:hover {
		text-decoration: none;
		color: $colorMain;
		transition: $mainTransition;
		svg {
			path {
				fill: $colorMain;
				transition: $mainTransition;
			}
		}
	}
}
.link-phone {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	span {
		@include font-gilroy;
		font-weight: bold;
		font-size: 16px;
		line-height: 21px;
		color: #333333;

		display: block;
		margin: 0px;
		transition: $mainTransition;
		&:last-child {
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #6C7A94;
		}
		@media (max-width: 1200px) {
			font-size: 18px;
		}
	}
	svg {
		margin-right: 10px;
		path {
			transition: $mainTransition;
		}
	}
	&:hover {
		text-decoration: none;
		transition: $mainTransition;
		span {
			&:last-child {
				color: $colorMain;
			}
		}
		svg {
			path {
				fill: $colorMain;
				transition: $mainTransition;
			}
		}
	}
	@media (max-width: 991px) {
		span {
			font-size: 17px;
		}
		svg {
			width: 24px;
		}
	}
}

.slider-icon-1-next.slick-arrow,
.slider-icon-1-prev.slick-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
}
