.breadcrumb-area {
	padding: 60px 0px;
	.breadcrumb-content {
		ul {
			padding-left: 0px;
			li {
				margin-right: 14px;
				a {
					&:hover {
						color: $colorMain;
					}
				}
				&:last-child {
					margin: 0px;
				}
			}
		}
		a, .active, li::before {
			text-transform: none;
			@include font-gilroy;
			font-size: 14px;
			line-height: 16px;
			color: #000000;
		}
		li::before {
			width: 14px;
			right: -16px;
		}
	}
}
