div(class="about-us-area")
	div(class="container")
		div(class="row align-items-center")
			div(class="col-12 col-lg-7 pb-4 pb-lg-0")
				<h2>Все строительные материалы в одном месте</h2>
				p
					| «Строим Дом» — компания, которая более 17 лет реализует строительные материалы от лидеров строительной индустрии России и мира. Мы продаем черепицу, сланцевые покрытия, фальцевую кровлю, а также все необходимые аксессуары, комплектующие. В компании работают специалисты высокой квалификации, поэтому среди наших услуг — кровельные работы полного цикла, позволяющие комплексно решить задачи даже для самой сложной архитектуры крыш.
				div(class="row align-items-center")
					div(class="col-6 col-lg-4 d-flex justify-content-center")
						img(class="lazyload" data-src="images/author.png" alt="img")
					div(class="col-6 col-lg-4 d-flex flex-column")
						span(class="mb-3")
							b
								| Иванов Иван
						span()
							| Директор компании
					div(class="col-4 offset-8 offset-lg-0 col-lg-4")
						img(class="lazyload img-fluid about-us-area-rops" data-src="images/rosp.png" alt='img')
			div(class="col-12 col-lg-5 d-flex justify-content-center")
				img(class="lazyload img-fluid" data-src="images/about-ser.png" alt="img")