div(class="banner-area")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-9")
					div(class="row")
						div(class="col-12 col-lg-7")
							span(class="subtitle")
								| БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ
							h2(class="title")
								| Закажите расчет
							p(class="description")
								| Подскажем как купить лучшиe и подходящие вам строительные материалы, а так же ответим на все дополнительные вопросы.
					form(class="row" action="" method="")
						div(class="col-12 col-lg-4 pb-3 pb-lg-0")
							input(class="input input_white" type="text" placeholder="Ваше имя")
						div(class="col-12 col-lg-4 pb-3 pb-lg-0")
							input(class="input input_white" type="tel" placeholder="Телефон")
						div(class="col-12 col-lg-4")
							button(class="btn btn-round-10" type="submit")
								| оставить заявку
				div(class="col-12 col-lg-3 d-none d-lg-block")
					<img class="lazyload margin-top_100" data-src="images/bannerimg.png" alt="img">