<div class="breadcrumb-area bg-gray">
	<div class="container">
		div(class="row")
			div(class="col-12")
				h1(class="text-center")
					| Каталог
			div(class="col-12 d-flex justify-content-center")
				<div class="breadcrumb-content">
					<ul>
						<li>
							<a href="#">главная</a>
						</li>
						<li class="active">каталог</li>
					</ul>
				</div>
	</div>
</div>
