<footer class="footer-area">
	div(class="container")
		div(class="row")
			div(class="col-12")
				div(class="line")
	<div class="footer-top">
		<div class="container">
			<div class="row">
				div(class="col-12 col-lg-4 pb-4 pb-lg-0")
					<div class="logo">
						<a href="#">
							<img class="lazyload" data-src="images/logo.png" alt="logo">
						</a>
					</div>
					p(class="pt-2")
						| Все строительные материалы в одном месте - компания строим дом
				<div class="col-12 col-lg-3 offset-lg-1 d-flex flex-column pb-4 pb-lg-0">
						each item in ["О компании", "Сотрудничество", "Вакансии", "Контакты"]
								a(href="#" class="footer-link-navigation")
									= item
				</div>
				<div class="col-12 col-lg-4">
					<div class="footer-widget">
						<span class="footer-title">Контакты</span>
						<div class="contact-info-2">
							<div class="single-contact-info-2">
								<div class="contact-info-2-content">
									<p>Адрес: Челябинск, ул. Ленина 1</p>
								</div>
							</div>
							<div class="single-contact-info-2">
								<div class="contact-info-2-content">
									a(href="tel:83511234567")
										| Телефон: 8 351 123-45-67
								</div>
							</div>
							<div class="single-contact-info-2">
								<div class="contact-info-2-content">
									a(href="email:info@mail.ru")
										| Email: info@mail.ru
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 pb-3 pb-lg-0">
					<div class="copyright copyright-center">
						a(href="#")
							| политика конфиденциальности
					</div>
				</div>
				div(class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end")
					a(href="#")
						| Разработка сайтa DEKSIS.RU
			</div>
		</div>
	</div>
</footer>
