<header class="header-area d-flex flex-column d-lg-block">
	<div class="header-large-device d-block order-2 order-lg-1">
		<div class="header-middle header-middle-padding-2">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-3 justify-content-center d-none d-lg-flex">
						<div class="logo">
							<a href="#">
								<img class="lazyload" data-src="images/logo.png" alt="logo">
							</a>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="categori-search-wrap categori-search-wrap-modify-3">
							<div class="search-wrap-3">
								<form action="#" class="form-search">
									<input placeholder="Поиск по сайту ..." type="text" class="form-search-input">
									<button class="btn-submit" type="submit">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<g>
												<path d="M23.7068 22.2929L16.8818 15.468C18.2038 13.835 18.9998 11.76 18.9998 9.50006C18.9998 4.26211 14.7378 0.000133514 9.49988 0.000133514C4.26193 0.000133514 0 4.26206 0 9.50002C0 14.738 4.26197 18.9999 9.49992 18.9999C11.7599 18.9999 13.8349 18.204 15.4678 16.882L22.2928 23.7069C22.4878 23.9019 22.7438 23.9999 22.9998 23.9999C23.2558 23.9999 23.5118 23.9019 23.7068 23.7069C24.0978 23.3159 24.0978 22.6839 23.7068 22.2929ZM9.49992 16.9999C5.36395 16.9999 2 13.636 2 9.50002C2 5.36404 5.36395 2.00008 9.49992 2.00008C13.6359 2.00008 16.9998 5.36404 16.9998 9.50002C16.9998 13.636 13.6359 16.9999 9.49992 16.9999Z" fill="black"/>
											</g>
										</svg>
									</button>
								</form>
							</div>
						</div>
					</div>
					div(class="col-lg-3 offset-lg-1 d-none d-lg-block")
						a(href="#" class="btn w-100" data-toggle="modal" data-target="#modalRequest")
							span(class="mr-3")
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M21.0962 7.73592C20.4922 7.13504 19.6912 6.8044 18.8395 6.8044C18.8368 6.8044 18.8339 6.8044 18.8312 6.8044C18.2952 6.80576 17.7797 6.93808 17.3212 7.18584V6.24C17.3212 6.07024 17.2537 5.90744 17.1337 5.78744L13.2937 1.94744C13.1737 1.82744 13.0109 1.76 12.8412 1.76H2.60118C2.24774 1.76 1.96118 2.04656 1.96118 2.4V21.6C1.96118 21.9534 2.24774 22.24 2.60118 22.24H16.6812C17.0346 22.24 17.3212 21.9534 17.3212 21.6V19.68C17.3212 19.3266 17.0346 19.04 16.6812 19.04C16.3277 19.04 16.0412 19.3266 16.0412 19.68V20.96H12.4365C12.4372 20.9596 12.4377 20.9591 12.4384 20.9586C12.4429 20.9555 12.4473 20.952 12.4517 20.9488C12.4681 20.937 12.4839 20.9244 12.4993 20.9109C12.5053 20.9055 12.5113 20.9002 12.5172 20.8946C12.5218 20.8902 12.5269 20.8862 12.5314 20.8816L20.2044 13.1694C20.2046 13.1691 20.2049 13.169 20.2051 13.1687C20.2053 13.1685 20.2055 13.1682 20.2057 13.168L21.1078 12.2613C21.7107 11.6554 22.0415 10.851 22.0393 9.99616C22.0371 9.14152 21.7021 8.3388 21.0962 7.73592ZM13.481 3.94504L15.136 5.6H13.481V3.94504ZM7.98118 16.3822C7.97574 16.3879 7.97054 16.3938 7.96534 16.3998C7.95166 16.4154 7.93894 16.4316 7.9271 16.4482C7.92406 16.4525 7.92086 16.4565 7.9179 16.4608C7.90294 16.483 7.88934 16.5057 7.8775 16.5291C7.87622 16.5316 7.87526 16.5342 7.87398 16.5367C7.8635 16.558 7.85446 16.5798 7.84646 16.6018C7.84438 16.6075 7.84246 16.6131 7.84054 16.6188C7.83262 16.643 7.82574 16.6674 7.82078 16.6922C7.82054 16.6931 7.82022 16.6941 7.81998 16.695L7.81958 16.6969C7.81942 16.6978 7.81926 16.6986 7.8191 16.6994L6.97838 20.96H3.24102V3.04H12.201V6.24C12.201 6.59344 12.4876 6.88 12.841 6.88H16.041V8.16C16.041 8.19752 16.0449 8.234 16.0511 8.26976L15.6683 8.65456C15.6682 8.65464 15.6681 8.6548 15.6679 8.65488C15.6677 8.65496 15.6677 8.65512 15.6676 8.65528L7.99422 16.3678C7.98958 16.3724 7.98566 16.3774 7.98118 16.3822ZM8.36814 20.529L8.8443 18.1162L10.7784 20.0406L8.36814 20.529ZM12.0753 19.5252L9.3531 16.8169L16.124 10.0114L18.8461 12.7198L12.0753 19.5252ZM20.2003 11.3586L19.7489 11.8122L17.0268 9.104L17.4781 8.65032C17.8398 8.28672 18.3215 8.08576 18.8343 8.08448H18.8393C19.3503 8.08448 19.831 8.2828 20.1933 8.64336C20.5569 9.00504 20.7579 9.48672 20.7592 9.99952C20.7605 10.5124 20.5621 10.995 20.2003 11.3586Z" fill="white"/>
									<path d="M15.2257 12.7289L11.6145 16.3585C11.3652 16.609 11.3663 17.0143 11.6168 17.2636C11.7417 17.3878 11.905 17.4499 12.0683 17.4499C12.2326 17.4499 12.3969 17.387 12.5219 17.2613L16.1331 13.6318C16.3824 13.3812 16.3814 12.9759 16.1308 12.7266C15.8803 12.4773 15.4751 12.4783 15.2257 12.7289Z" fill="white"/>
									<path d="M5.161 6.88H9.001C9.35444 6.88 9.641 6.59344 9.641 6.24C9.641 5.88656 9.35444 5.6 9.001 5.6H5.161C4.80756 5.6 4.521 5.88656 4.521 6.24C4.521 6.59344 4.80756 6.88 5.161 6.88Z" fill="white"/>
									<path d="M12.841 8.16H5.161C4.80756 8.16 4.521 8.44656 4.521 8.8C4.521 9.15344 4.80756 9.44 5.161 9.44H12.841C13.1944 9.44 13.481 9.15344 13.481 8.8C13.481 8.44656 13.1945 8.16 12.841 8.16Z" fill="white"/>
									<path d="M10.921 10.08H5.161C4.80756 10.08 4.521 10.3666 4.521 10.72C4.521 11.0734 4.80756 11.36 5.161 11.36H10.921C11.2744 11.36 11.561 11.0734 11.561 10.72C11.561 10.3666 11.2745 10.08 10.921 10.08Z" fill="white"/>
									<path d="M9.001 12H5.161C4.80756 12 4.521 12.2866 4.521 12.64C4.521 12.9934 4.80756 13.28 5.161 13.28H9.001C9.35444 13.28 9.641 12.9934 9.641 12.64C9.641 12.2866 9.35452 12 9.001 12Z" fill="white"/>
								</svg>
							| Оставить заявку

				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-9 col-lg-2 col-xl-3">
						<div class="main-categori-wrap main-categori-wrap-modify-2 btn-catalog-drop">
							<a class="categori-show" href="#">
								| Каталог
								span(class="burger")
									span
									span
									span
							</a>
							<div class="catalog-drop">
								<div class="position-relative">
									<div class="catalog-drop-header">
										<div class="container">
											<div class="row">
												<div class="col-12 d-flex justify-content-between align-items-center">
													<img class="logo lazyload" data-src="images/logo.png" alt="img">
													<div class="catalog-drop-close">
														<svg viewBox="0 0 329.269 329" xmlns="http://www.w3.org/2000/svg"><path d="M194.8 164.77L323.013 36.555c8.343-8.34 8.343-21.825 0-30.164-8.34-8.34-21.825-8.34-30.164 0L164.633 134.605 36.422 6.391c-8.344-8.34-21.824-8.34-30.164 0-8.344 8.34-8.344 21.824 0 30.164l128.21 128.215L6.259 292.984c-8.344 8.34-8.344 21.825 0 30.164a21.266 21.266 0 0015.082 6.25c5.46 0 10.922-2.09 15.082-6.25l128.21-128.214 128.216 128.214a21.273 21.273 0 0015.082 6.25c5.46 0 10.922-2.09 15.082-6.25 8.343-8.34 8.343-21.824 0-30.164zm0 0"></path></svg>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="container pt-80">
											<div class="row pb-4">
												<div class="col-12 col-lg-3 d-flex flex-column align-items-start">
													<a href="#" class="title active">
														<img class="lazyload" data-src="images/dopmenuitem.png" alt="">
														<span>Пиломатериалы</span>
													</a>
													<a href="#" class="title">
														<img class="lazyload" data-src="images/dopmenuitem.png" alt="">
														<span>Пиломатериалы</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5 d-none d-lg-block">
						<div class="main-menu">
							<nav>
								<ul>
									each item,index in ["Главная", "О компании", "Новости", "Контакты"]
										if(index == 1)
											li(class="main-menu__link active")
												a(href="#")
													= item
										else
											li(class="main-menu__link")
												a(href="#")
													= item
								</ul>
							</nav>
						</div>
					</div>
					<div class="col-lg-3 col-xl-2 d-none d-lg-block">
						a(class="link-phone" href="#" data-toggle="modal" data-target="#modalCallback")
							<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g>
									<path d="M20.2661 0C19.9717 0 19.7328 0.238937 19.7328 0.533311C19.7328 0.827686 19.9717 1.06662 20.2661 1.06662C26.1477 1.06662 30.9328 5.85168 30.9328 11.7333C30.9328 12.0277 31.1717 12.2666 31.4661 12.2666C31.761 12.2666 31.9994 12.0277 31.9994 11.7333C31.9994 5.26349 26.736 0 20.2661 0Z" fill="#52891D"/>
									<path d="M20.2661 3.2C19.9717 3.2 19.7328 3.43893 19.7328 3.73331C19.7328 4.02768 19.9717 4.26662 20.2661 4.26662C24.3834 4.26662 27.7328 7.61593 27.7328 11.7333C27.7328 12.0277 27.9717 12.2666 28.2661 12.2666C28.561 12.2666 28.7994 12.0277 28.7994 11.7333C28.7994 7.0283 24.9717 3.2 20.2661 3.2Z" fill="#52891D"/>
									<path d="M20.2661 6.39999C19.9717 6.39999 19.7328 6.63892 19.7328 6.9333C19.7328 7.22767 19.9717 7.46661 20.2661 7.46661C22.6187 7.46661 24.5328 9.38073 24.5328 11.7333C24.5328 12.0277 24.7717 12.2666 25.0661 12.2666C25.361 12.2666 25.5994 12.0277 25.5994 11.7333C25.5994 8.79254 23.2068 6.39999 20.2661 6.39999Z" fill="#52891D"/>
									<path d="M28.8602 20.0133C27.409 19.8224 25.978 19.4661 24.6074 18.9557C23.2799 18.4581 21.7716 18.7791 20.7615 19.776L19.0756 21.4581C15.5407 19.3738 12.5876 16.4267 10.4986 12.8987L12.1855 11.2155C13.1828 10.2091 13.5049 8.70242 13.0063 7.37817C12.4949 6.00967 12.1381 4.58192 11.9461 3.12855C11.6906 1.32693 10.1306 -0.00694107 8.30714 -3.58099e-06H3.64102C3.53221 -3.58099e-06 3.4234 0.00530891 3.31571 0.0149339C2.34659 0.102434 1.46928 0.56162 0.845777 1.30724C0.222341 2.05337 -0.0731587 2.99737 0.0154036 3.97386C0.532215 8.83148 2.21221 13.5658 4.87089 17.6618C7.28476 21.4528 10.5685 24.7301 14.3631 27.1365C18.4517 29.7829 23.1732 31.4592 28.0282 31.9856C28.138 31.9952 28.2484 31.9999 28.3594 31.9999C28.3625 31.9999 28.3657 31.9999 28.3695 31.9999C30.3791 31.9914 32.0068 30.353 31.9988 28.3493V23.6991C32.041 21.8555 30.6948 20.2715 28.8602 20.0133ZM30.9322 23.68C30.9322 23.6842 30.9322 23.689 30.9322 23.6933V28.3519C30.9375 29.7696 29.786 30.9279 28.3658 30.9338C28.2826 30.9306 28.2026 30.9306 28.1322 30.9242C23.4527 30.4164 18.8916 28.7973 14.9381 26.2383C11.2709 23.9125 8.10076 20.7487 5.76796 17.0847C3.19777 13.1253 1.5754 8.55254 1.07671 3.86936C1.01484 3.18562 1.2234 2.51899 1.66446 1.99149C2.10552 1.46399 2.72577 1.13924 3.41165 1.07737C3.4879 1.07043 3.56421 1.06668 3.64096 1.06668H8.31189C8.32045 1.06668 8.32895 1.06668 8.33751 1.06668C9.61539 1.06668 10.7103 2.01337 10.8889 3.27305C11.0911 4.80105 11.4671 6.30823 12.0073 7.75304C12.3599 8.68954 12.1321 9.7541 11.4297 10.4629L9.45426 12.4341C9.28357 12.6042 9.24839 12.8667 9.36732 13.0757C11.6276 17.0437 14.9241 20.3333 18.8991 22.5888C19.1081 22.7077 19.3694 22.6715 19.5391 22.5024L21.5124 20.5333C22.2254 19.8299 23.2937 19.6032 24.2334 19.9552C25.6798 20.4939 27.1897 20.8699 28.7155 21.0704C30.0116 21.2528 30.9647 22.3744 30.9322 23.68Z" fill="#52891D"/>
									<path d="M8.00011 2.13337H3.64118C3.59637 2.13337 3.55212 2.13549 3.50787 2.13974C2.96443 2.18881 2.63212 2.49706 2.48281 2.67574C2.36281 2.81918 2.08868 3.21068 2.13668 3.7483C2.33831 5.64005 2.70306 7.48055 3.22199 9.21923C3.29131 9.45017 3.50306 9.60004 3.73293 9.60004C3.78362 9.60004 3.8348 9.5931 3.88599 9.57767C4.16812 9.49342 4.32868 9.19636 4.24437 8.91423C3.74412 7.23848 3.39212 5.46249 3.19849 3.64437C3.18624 3.50893 3.27424 3.39212 3.30143 3.35905C3.34518 3.3068 3.44274 3.21668 3.64118 3.20012H7.99905C7.99961 3.20012 7.99961 3.20012 7.99961 3.20012C8.29398 3.20012 8.53292 2.96174 8.53292 2.66731C8.53342 2.37281 8.29448 2.13337 8.00011 2.13337Z" fill="#52891D"/>
									<path d="M29.3328 23.4666C29.0384 23.4666 28.7995 23.7056 28.7995 24L28.7989 28.3514C28.7995 28.4714 28.7536 28.5844 28.6699 28.6687C28.5861 28.7529 28.4752 28.7994 28.3696 28.7999L28.3206 28.7988C26.4982 28.6009 24.7371 28.25 23.0865 27.7556C22.8054 27.6708 22.5073 27.8314 22.4225 28.1135C22.3376 28.3956 22.4982 28.6927 22.7803 28.7775C24.4929 29.2906 26.3184 29.6543 28.215 29.8602C28.2588 29.8644 28.3478 29.8666 28.3606 29.8666C28.7644 29.8649 29.143 29.7066 29.4273 29.4202C29.7116 29.1333 29.8673 28.7524 29.8657 28.3493L29.8662 24C29.8662 23.7056 29.6273 23.4666 29.3328 23.4666Z" fill="#52891D"/>
								</g>
							</svg>

							div(class="d-flex flex-column align-items-end")
								span
									| +7(351) 2 777 808
								span
									| заказать звонок
					</div>
					<div class="col-3 col-lg-2 d-flex justify-content-end">
						<a id="msMiniCart" class="minicart d-flex align-items-center" href="#">
							<div class="position-relative mr-2">
								<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M17.886 2.618a.52.52 0 00-.405-.195H3.66L3.276.75A.52.52 0 002.77.346H.52a.52.52 0 000 1.039h1.837L4.98 12.75a.52.52 0 00.506.403h10.403a.52.52 0 100-1.039h-9.99l-.4-1.73h10.425a.52.52 0 00.507-.406l1.557-6.923a.519.519 0 00-.1-.438zm-2.378 6.728H5.259L3.901 3.462h12.93l-1.323 5.884zm-7.893 4.5a1.905 1.905 0 000 3.808c1.05 0 1.904-.854 1.904-1.904 0-1.05-.854-1.904-1.904-1.904zm0 2.77a.866.866 0 010-1.731.866.866 0 010 1.73zm6.231-2.77c-1.05 0-1.904.854-1.904 1.904 0 1.05.854 1.904 1.904 1.904 1.05 0 1.904-.854 1.904-1.904 0-1.05-.854-1.904-1.904-1.904zm0 2.77a.866.866 0 010-1.731.866.866 0 010 1.73z" fill="#000"></path>
									</svg>
								<span class="minicart__count">2</span>
							</div>
							<span class="d-none d-lg-block">
								<span class="minicart__price"><span class="">41 342</span> ₽</span>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-small-device order-1 order-lg-2">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-3">
					<div class="mobile-logo">
						<a href="#">
							<img class="lazyload" data-src="images/logo.png" alt="logo">
						</a>
					</div>
				</div>
				div(class="col-7")
					a(class="link-phone" href="tel:+79000815344")
						<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g>
								<path d="M20.2661 0C19.9717 0 19.7328 0.238937 19.7328 0.533311C19.7328 0.827686 19.9717 1.06662 20.2661 1.06662C26.1477 1.06662 30.9328 5.85168 30.9328 11.7333C30.9328 12.0277 31.1717 12.2666 31.4661 12.2666C31.761 12.2666 31.9994 12.0277 31.9994 11.7333C31.9994 5.26349 26.736 0 20.2661 0Z" fill="#52891D"/>
								<path d="M20.2661 3.2C19.9717 3.2 19.7328 3.43893 19.7328 3.73331C19.7328 4.02768 19.9717 4.26662 20.2661 4.26662C24.3834 4.26662 27.7328 7.61593 27.7328 11.7333C27.7328 12.0277 27.9717 12.2666 28.2661 12.2666C28.561 12.2666 28.7994 12.0277 28.7994 11.7333C28.7994 7.0283 24.9717 3.2 20.2661 3.2Z" fill="#52891D"/>
								<path d="M20.2661 6.39999C19.9717 6.39999 19.7328 6.63892 19.7328 6.9333C19.7328 7.22767 19.9717 7.46661 20.2661 7.46661C22.6187 7.46661 24.5328 9.38073 24.5328 11.7333C24.5328 12.0277 24.7717 12.2666 25.0661 12.2666C25.361 12.2666 25.5994 12.0277 25.5994 11.7333C25.5994 8.79254 23.2068 6.39999 20.2661 6.39999Z" fill="#52891D"/>
								<path d="M28.8602 20.0133C27.409 19.8224 25.978 19.4661 24.6074 18.9557C23.2799 18.4581 21.7716 18.7791 20.7615 19.776L19.0756 21.4581C15.5407 19.3738 12.5876 16.4267 10.4986 12.8987L12.1855 11.2155C13.1828 10.2091 13.5049 8.70242 13.0063 7.37817C12.4949 6.00967 12.1381 4.58192 11.9461 3.12855C11.6906 1.32693 10.1306 -0.00694107 8.30714 -3.58099e-06H3.64102C3.53221 -3.58099e-06 3.4234 0.00530891 3.31571 0.0149339C2.34659 0.102434 1.46928 0.56162 0.845777 1.30724C0.222341 2.05337 -0.0731587 2.99737 0.0154036 3.97386C0.532215 8.83148 2.21221 13.5658 4.87089 17.6618C7.28476 21.4528 10.5685 24.7301 14.3631 27.1365C18.4517 29.7829 23.1732 31.4592 28.0282 31.9856C28.138 31.9952 28.2484 31.9999 28.3594 31.9999C28.3625 31.9999 28.3657 31.9999 28.3695 31.9999C30.3791 31.9914 32.0068 30.353 31.9988 28.3493V23.6991C32.041 21.8555 30.6948 20.2715 28.8602 20.0133ZM30.9322 23.68C30.9322 23.6842 30.9322 23.689 30.9322 23.6933V28.3519C30.9375 29.7696 29.786 30.9279 28.3658 30.9338C28.2826 30.9306 28.2026 30.9306 28.1322 30.9242C23.4527 30.4164 18.8916 28.7973 14.9381 26.2383C11.2709 23.9125 8.10076 20.7487 5.76796 17.0847C3.19777 13.1253 1.5754 8.55254 1.07671 3.86936C1.01484 3.18562 1.2234 2.51899 1.66446 1.99149C2.10552 1.46399 2.72577 1.13924 3.41165 1.07737C3.4879 1.07043 3.56421 1.06668 3.64096 1.06668H8.31189C8.32045 1.06668 8.32895 1.06668 8.33751 1.06668C9.61539 1.06668 10.7103 2.01337 10.8889 3.27305C11.0911 4.80105 11.4671 6.30823 12.0073 7.75304C12.3599 8.68954 12.1321 9.7541 11.4297 10.4629L9.45426 12.4341C9.28357 12.6042 9.24839 12.8667 9.36732 13.0757C11.6276 17.0437 14.9241 20.3333 18.8991 22.5888C19.1081 22.7077 19.3694 22.6715 19.5391 22.5024L21.5124 20.5333C22.2254 19.8299 23.2937 19.6032 24.2334 19.9552C25.6798 20.4939 27.1897 20.8699 28.7155 21.0704C30.0116 21.2528 30.9647 22.3744 30.9322 23.68Z" fill="#52891D"/>
								<path d="M8.00011 2.13337H3.64118C3.59637 2.13337 3.55212 2.13549 3.50787 2.13974C2.96443 2.18881 2.63212 2.49706 2.48281 2.67574C2.36281 2.81918 2.08868 3.21068 2.13668 3.7483C2.33831 5.64005 2.70306 7.48055 3.22199 9.21923C3.29131 9.45017 3.50306 9.60004 3.73293 9.60004C3.78362 9.60004 3.8348 9.5931 3.88599 9.57767C4.16812 9.49342 4.32868 9.19636 4.24437 8.91423C3.74412 7.23848 3.39212 5.46249 3.19849 3.64437C3.18624 3.50893 3.27424 3.39212 3.30143 3.35905C3.34518 3.3068 3.44274 3.21668 3.64118 3.20012H7.99905C7.99961 3.20012 7.99961 3.20012 7.99961 3.20012C8.29398 3.20012 8.53292 2.96174 8.53292 2.66731C8.53342 2.37281 8.29448 2.13337 8.00011 2.13337Z" fill="#52891D"/>
								<path d="M29.3328 23.4666C29.0384 23.4666 28.7995 23.7056 28.7995 24L28.7989 28.3514C28.7995 28.4714 28.7536 28.5844 28.6699 28.6687C28.5861 28.7529 28.4752 28.7994 28.3696 28.7999L28.3206 28.7988C26.4982 28.6009 24.7371 28.25 23.0865 27.7556C22.8054 27.6708 22.5073 27.8314 22.4225 28.1135C22.3376 28.3956 22.4982 28.6927 22.7803 28.7775C24.4929 29.2906 26.3184 29.6543 28.215 29.8602C28.2588 29.8644 28.3478 29.8666 28.3606 29.8666C28.7644 29.8649 29.143 29.7066 29.4273 29.4202C29.7116 29.1333 29.8673 28.7524 29.8657 28.3493L29.8662 24C29.8662 23.7056 29.6273 23.4666 29.3328 23.4666Z" fill="#52891D"/>
							</g>
						</svg>

						div(class="d-flex flex-column align-items-end")
							span
								| +7 (900) 081-53-44
							span
								| заказать звонок
				<div class="col-2">
					<div class="header-action header-action-flex">
						<div class="same-style-2 main-menu-icon">
							<a class="mobile-header-button-active" href="#">
								span
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- mobile header start -->
<div class="mobile-header-active mobile-header-wrapper-style">
	<div class="clickalbe-sidebar-wrap">
		<a class="sidebar-close">
			<svg  viewBox="0 0 329.26933 329"  xmlns="http://www.w3.org/2000/svg">
				<path d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/>
			</svg>
		</a>
		<div class="mobile-header-content-area">
			<div class="mobile-search mobile-header-padding-border-1">
				<form action="#" class="form-search search-form">
					<input placeholder="Поиск..." type="text" class="form-search-input">
					<button class="button-search btn-submit" type="submit">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g>
								<path d="M23.7068 22.2929L16.8818 15.468C18.2038 13.835 18.9998 11.76 18.9998 9.50006C18.9998 4.26211 14.7378 0.000133514 9.49988 0.000133514C4.26193 0.000133514 0 4.26206 0 9.50002C0 14.738 4.26197 18.9999 9.49992 18.9999C11.7599 18.9999 13.8349 18.204 15.4678 16.882L22.2928 23.7069C22.4878 23.9019 22.7438 23.9999 22.9998 23.9999C23.2558 23.9999 23.5118 23.9019 23.7068 23.7069C24.0978 23.3159 24.0978 22.6839 23.7068 22.2929ZM9.49992 16.9999C5.36395 16.9999 2 13.636 2 9.50002C2 5.36404 5.36395 2.00008 9.49992 2.00008C13.6359 2.00008 16.9998 5.36404 16.9998 9.50002C16.9998 13.636 13.6359 16.9999 9.49992 16.9999Z" fill="black"></path>
							</g>
						</svg>
					</button>
				</form>
			</div>
			<div class="mobile-menu-wrap mobile-header-padding-border-2">
				<!-- mobile menu start -->
				<nav>
					<ul class="mobile-menu">
						each item,index in ["Главная", "О компании", "Новости", "Контакты"]
							if(index == 1)
								li(class="main-menu__link active")
									a(href="#")
										= item
							else
								li(class="main-menu__link")
									a(href="#")
										= item
					</ul>
				</nav>
				<!-- mobile menu end -->
			</div>
			<div class="main-categori-wrap mobile-menu-wrap mobile-header-padding-border-3">
				<a class="categori-show" href="#">
					| Каталог
					<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.5 1.5L7 7L12.5 1.5" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>
				<div class="categori-hide-2">
					<nav>
						<ul class="mobile-menu">
							each item in ["Изделия из сосны", "Изделия из липы", "Изделия из лиственницы", "Изделия из кедра", "Для бани", "Инструмент", "Крепеж"]
								li()
									a(href="#")
										= item
						</ul>
					</nav>
				</div>
			</div>
			<div class="mobile-contact-info mobile-header-padding-border-4">
				<ul>
					<li>
						a(href="tel:+73512777808" class="d-flex align-items-center")
							img(class="lazyload mr-2" data-src="images/phone.svg" alt="img")
							| +7(351) 2 777 808
						</li>
					<li>
						a(href="email:domostroy174@bk.ru" class="d-flex align-items-center")
							img(class="lazyload mr-2" data-src="images/mail.svg" alt="img")
							| info@mail.ru
					</li>
					<li class="d-flex align-items-center">
						img(class="lazyload mr-2" data-src="images/location.svg" alt="img")
						| Челябинск, ул. Ленина 1
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- mini cart start -->
<div class="sidebar-cart-active">
	<div class="sidebar-cart-all">
		<div>
			<a class="cart-close" href="#">
				<svg viewBox="0 0 329.269 329" xmlns="http://www.w3.org/2000/svg">
					<path d="M194.8 164.77L323.013 36.555c8.343-8.34 8.343-21.825 0-30.164-8.34-8.34-21.825-8.34-30.164 0L164.633 134.605 36.422 6.391c-8.344-8.34-21.824-8.34-30.164 0-8.344 8.34-8.344 21.824 0 30.164l128.21 128.215L6.259 292.984c-8.344 8.34-8.344 21.825 0 30.164a21.266 21.266 0 0015.082 6.25c5.46 0 10.922-2.09 15.082-6.25l128.21-128.214 128.216 128.214a21.273 21.273 0 0015.082 6.25c5.46 0 10.922-2.09 15.082-6.25 8.343-8.34 8.343-21.824 0-30.164zm0 0"></path>
				</svg>
			</a>
		</div>
		<div class="cart-content">
			<span class="title">Корзина</span>
			<div>
				<ul>
					-for(let i = 0; i < 10; i++)
						<li class="single-product-cart">
							<div class="cart-img">
								<a href="#">
									<img class="lazyload" data-src="images/hot-img.jpg" alt="img" title="img">
								</a>
							</div>
							<div class="cart-title">
								<a href="#">Доска обрезная 40х150х4000</a>
								<span>1 × 228 ₽</span>
							</div>
						</li>
				</ul>
			</div>
			<div class="cart-total">
				<h4>Итого: <span>342 ₽</span></h4>
			</div>
			<div class="cart-checkout-btn">
				<a class="btn" href="#">Оформить</a>
			</div>
		</div>
	</div>
</div>
