div(class="product-slider-active-3 nav-style-3")
	-for (var i =0; i < 10; i++)
		<div class="product-plr-1 pb-4">
			<div class="single-product-wrap">
				<div class="product-img product-img-zoom mb-3">
					<a href="#">
						<img class="lazyload img-fluid" data-src="images/hot-img.jpg" alt="img">
					</a>
					<span class="pro-badge">-40%</span>
				</div>
				<div class="product-content-wrap-3">
					<a href="#" class="title">Доска обработанная</a>
					<div class="product-price-4">
						<span class="new-price">1 500 ₽</span>
						<span class="old-price">2 500 ₽</span>
					</div>
				</div>
			</div>
		</div>