<div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalRequestLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalRequestLabel">Заявка</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				form(class="d-flex flex-column align-item-center" action="" method="")
					input(class="input mb-4" type="text" placeholder="Имя")
					input(class="input mb-4" type="tel" placeholder="Телефон")
					button(type="submit" class="btn")
						| Оставить заявку
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modalCallback" tabindex="-1" role="dialog" aria-labelledby="modalCallbackLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalCallbackLabel">Заказ звонка</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				form(class="d-flex flex-column align-item-center" action="" method="")
					input(class="input mb-4" type="text" placeholder="Имя")
					input(class="input mb-4" type="tel" placeholder="Телефон")
					button(type="submit" class="btn")
						| Оставить заявку
			</div>
		</div>
	</div>
</div>