.footer-area {
	padding: 11px 0px 0px 0px;
	.footer-top {
		padding: 50px 0px 40px 0px;
	}
	.footer-bottom {
		background-color: $colorMain;
		padding: 15px 0;
		a {
			@include font-gilroy;
			font-size: 16px;
			line-height: 19px;
			color: #FFFFFF;
			&:hover {
				color: #000;
				text-decoration: none;
				transition: $mainTransition;
			}
		}
	}
	.footer-link-navigation {
		@include font-gilroy;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
		margin-bottom: 15px;
		&:hover {
			color: $colorMain;
		}
	}
	.footer-title {
		display: block;
		@include font-gilroy;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		margin-bottom: 22px;
	}
	p {
		@include font-gilroy;
		font-size: 18px;
		line-height: 21px;
		color: #000;
	}
	.line {
		border-top: 1px solid #E5E5E5;
	}
}
.footer-widget .contact-info-2 .single-contact-info-2 .contact-info-2-content {
	margin: 0px;
	a {
		&:hover {
			color: $colorMain;
		}
	}
}
#scrollUp:hover {
	background-color: $colorMain;
	border-color: $colorMain;
}