.shop-area {
	padding: 45px 0 90px;
	.sidebar-widget {
		padding-bottom: 50px;
		.sidebar-widget-title {
			display: block;
			@include font-gilroy;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
			margin: 0 0 17px 0;
			&.sidebar-widget-title_border {
				padding-bottom: 10px;
				margin-bottom: 17px;
				border-bottom: 1px solid #9C9E9C;
			}
		}
		.sidebar-widget-list {
			ul {
				padding-left: 0px;
				li {
					list-style: none;
					padding: 0px;
					margin-bottom: 15px;
					a {
						@include font-gilroy;
						font-size: 14px;
						line-height: 16px;
						color: #000000;
						margin: 0px;
						span {
							float: unset;
							background: none;
						}
						&:hover {
							color:  $colorMain;
							span {
								color: #000000;
							}
						}
					}
					.sidebar-widget-list-left {
						.checkmark, input {
							width: 16px;
							height: 16px;
							border-radius: 3px;
							border: 1px solid #E5E5E5;
						}
						input {
							:checked~.checkmark {
								background-color: $colorMain;
    							border-color: $colorMain;
							}
						}
						a {
							padding-left: 25px;
						}
					}
					&:last-child {
						margin: 0px;
					}
				}
			}
		}
	}
	.shop-topbar-wrapper {
		padding: 21px 26px;
		border: 1px solid #E5E5E5;
		.shorting-style {
			label {
				@include font-gilroy;
				font-size: 18px;
				line-height: 21px;
				color: #000000;
			}
			select {
				padding: 5px 13px;
				border: 1px solid #E5E5E5;
				border-radius: 5px;

				@include font-gilroy;
				font-size: 14px;
				line-height: 16px;
				color: #9C9E9C;
			}
		}
	}
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
#slider-range {
	.ui-slider-range {
		background-color: $colorMain!important;
	}
	.ui-slider-handle {
		border-color: $colorMain!important;
	}
}
.catalog-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	.catalog-item__preview {
		overflow: hidden;
		margin-bottom: 10px;
		img {
			transition: $mainTransition;
		}
	}
	span {
		@include font-gilroy;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		transition: $mainTransition;	
	}
	&:hover {
		.catalog-item__preview {
			img {
				transform: scale(1.05);
				transition: $mainTransition;
			}
		}
		span {
			color: $colorMain;
			transition: $mainTransition;
		}
	}
}
.single-product-wrap {
	&.single-product-wrap_block {
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);

		.product-content-wrap-3 {
			padding-left: 7px;
			.categ {
				@include font-gilroy;
				font-size: 14px;
				line-height: 16px;
				color: #9C9E9C;

				display: block;
				margin-bottom: 10px;
			}
			.title {
				display: block;
				margin-bottom: 10px;
			}
		}
		.pro-badge {
			left: 15px!important;
		}
	}
}

.pro-pagination-style {
	padding: 75px 0 0 0;
	ul {
		padding-left: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	ul li a {
		width: 42px;
		height: 42px;

		display: flex;
		justify-content: center;
		align-items: center;

		@include font-gilroy;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		&.next, 
		&.prev {
			background: #E5E5E5;
			color: #454545;
			margin-bottom: -2px;
			&:hover {
				background-color: $colorMain;
				svg {
					path {
						stroke: #fff;
					}
				}
			}
		}
		&.next {
			svg {
				margin-right: -4px;
			}
		}
		&.prev {
			svg {
				margin-left: -4px;
			}
		}
		&.active {
			background-color: $colorMain;
		}
		&:hover {
			background-color: $colorMain;
		}
	}
	@media (max-width: 991px) {
		padding: 50px 0 0 0px;
	}
}
.shop-topbar-wrapper .product-sorting-wrapper .shorting-style select {
	background: none;
}
