extends base.pug
block content
	include components/breadcrumb-area.pug
	section(class="about")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-4 pb-20 pb-lg-0 d-flex justify-content-center")
					img(class="lazyload img-fluid" data-src="images/about-ser.png" alt="img")
				div(class="col-12 col-lg-8 pt-5 pt-lg-0")
					h2
						| Добро пожаловать в интернет-магазин
					p
						| Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития. Равным образом сложившаяся структура организации играет важную роль в формировании форм развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры требуют определения и уточнения форм развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации соответствующий условий активизации.
	include components/banner-area.pug
	div(class="container pt-50 pb-30")
		div(class="row")
			div(class="col-12")
				h2(class="mb-40")
					| Популярные товары
			div(class="col-12")
				include components/hot-product.pug
	include components/info-area.pug
