doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")
		link(rel="shortcut icon" href="images/favicon.png" type="image/png")
		title СтроимДом
	body
		include components/header-area.pug
		div(class="main-wrapper")
			block content
		include components/modal-area.pug
		include components/footer-area.pug
		script(src="js/main.min.js")
