extends base.pug
block content
	include components/breadcrumb-area.pug
	div(class="container pt-80 pb-100")
		div(class="row")
			-for (let i = 0; i < 16; i++)
				div(class="col-12 col-sm-6 col-md-4 col-lg-3 pb-50 d-flex align-items-center justify-content-center")
					a(class="catalog-item" href="#")
						span(class="catalog-item__preview")
							img(class="lazyload img-fluid" data-src="images/catalogitem.png" alt="img")
						span()
							| Категория каталога
	include components/banner-area.pug
	include components/info-area.pug