extends base.pug
block content
	include components/breadcrumb-area.pug
	<div class="shop-area">
		<div class="container">
			<div class="row flex-row-reverse">
				<div class="col-lg-9">
					<div class="shop-topbar-wrapper">
						<div class="product-sorting-wrapper">
							<div class="product-show shorting-style">
								<label>Сортировка</label>
								<select>
									<option value="">по цене</option>
									<option value="">по алфавиту</option>
									<option value="">по популярности</option>
								</select>
							</div>
						</div>
					</div>
					<div class="shop-bottom-area">
						div(class="row")
							- for (var i = 0; i < 10; i++)
								<div class="col-12 col-md-6 col-lg-4 mb-5">
									div(class="product-plr-1")
										<form class="single-product-wrap single-product-wrap_block" action="" method="">
											<div class="product-img product-img-zoom mb-3">
												<a href="#">
													<img class="lazyload" data-src="images/hot-img.jpg" alt="img">
												</a>
												<span class="pro-badge">-40%</span>
											</div>
											<div class="product-content-wrap-3">
												span(class="categ")
													| Арт. 12750175
												<a href="#" class="title">Фанера 10 мм ФК нешлифованная 1525x1525 мм сорт 4/4, 2.325 м2</a>
												<div class="product-price-4">
													<span class="new-price">530 ₽/шт.</span>
													<span class="old-price">730 ₽/шт.</span>
												</div>
											</div>
											<div class="product-content-wrap-3 product-content-position">
												span(class="categ")
													| Арт. 12750175
												<a href="#" class="title">Фанера 10 мм ФК нешлифованная 1525x1525 мм сорт 4/4, 2.325 м2</a>
												<div class="product-price-4">
													<span class="new-price">530 ₽/шт.</span>
													<span class="old-price">730 ₽/шт.</span>
												</div>
												div(class="pt-3 pb-3 d-flex justify-content-center")
													button(type="submit" class="btn")
														| В корзину
											</div>
										</form>
								</div>
						<div class="pro-pagination-style text-center">
							<ul>
								<li>
									<a class="prev" href="#">
										<svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M10 1.5L2 9.5L10 17.5" stroke="#454545" stroke-width="2" stroke-linecap="round"/>
										</svg>
									</a>
								</li>
								<li><a class="active" href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li>
									<a class="next" href="#">
										<svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M1 17.5L9 9.5L1 1.5" stroke="#454545" stroke-width="2" stroke-linecap="round"/>
										</svg>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="sidebar-wrapper sidebar-wrapper-mrg-right">
						<div class="sidebar-widget">
							<span class="sidebar-widget-title sidebar-widget-title_border">Категории</span>
							<div class="sidebar-widget-list">
								<ul>
									each item in ["Доска обрезная", "Брус", "Брусок, рейка", "Евровагонка", "Плинтус, уголок, наличник", "Фальшбрус"]
										li()
											a(href="#")
												= item
								</ul>
							</div>
						</div>
						<div class="sidebar-widget">
							<span class="sidebar-widget-title">Фильтр по цене</span>
							<div class="price-filter">
								<div id="slider-range"></div>
							</div>
						</div>
						<div class="sidebar-widget">
							<span class="sidebar-widget-title">Сорт</span>
							<div class="sidebar-widget-list">
								<ul>
									each item in ["1/1", "1/2", "1/3", "2/4"]
										li()
											<div class="sidebar-widget-list-left">
												<input type="checkbox" value="">
													<a href="#">
														= item
													<span>(4)</span>
													</a>
												<span class="checkmark"></span>
											</div>
								</ul>
							</div>
						</div>
						<div class="sidebar-widget">
							<span class="sidebar-widget-title">Толщина (мм)</span>
							<div class="sidebar-widget-list">
								<ul>
									each item in ["4,0", "6,0", "6,5", "8,0"]
										li
											<div class="sidebar-widget-list-left">
												<input type="checkbox" value="">
													<a href="#">
														= item
														<span>(4)</span>
													</a>
												<span class="checkmark"></span>
											</div>
								</ul>
							</div>
						</div>
						<div class="sidebar-widget">
							<span class="sidebar-widget-title">Поверхность</span>
							<div class="sidebar-widget-list">
								<ul>
									each item in ["Ламинированный", "Нешлифованный", "Шлифованный"]
										<li>
											<div class="sidebar-widget-list-left">
												<input type="checkbox" value="">
												<a href="#">
													= item
													<span>(7)</span>
												</a>
												<span class="checkmark"></span>
											</div>
										</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	include components/banner-area.pug
	include components/info-area.pug
	
