extends base.pug
block content
	include components/breadcrumb-area.pug
	section(class="content-page")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1
						| h1 title
					h2
						| h2 title
					h3
						| h3 title
					h4
						| h4 title
					p
						| p description
					ul
						li
							| ul li item
						li
							| ul li item
						li
							| ul li item
						li
							| ul li item
					img(class="lazyload" data-src="images/hot-img.jpg" alt="img")
						
