extends base.pug
block content
	<div class="slider-area bg-gray-8">
		<div class="container">
			<div class="hero-slider-active-2 nav-style-1 nav-style-1-modify-2">
				<div class="single-hero-slider single-hero-slider-hm9 single-animation-wrap">
					<div class="row slider-animated-1">
						<div class="col-12 col-md-5 col-sm-6 col-lg-6 d-flex flex-column justify-content-center">
							<div class="hero-slider-content-6 slider-content-hm9 pr-5">
								<h1 class="animated title">
									| Кровельные системы
								</h1>
								<p class="animated description pr-lg-5">Большой выбор кровельных материалов в нашем интернет-магазине. Предоставляем скидки</p>
								div(class="d-flex align-items-start")
									<a class="animated btn btn-round-10" href="#">подробнее</a>
							</div>
						</div>
						<div class="col-lg-6 d-none d-lg-block">
							<div class="hm9-hero-slider-img">
								<img class="animated lazyload" data-src="images/slider.png" alt="img">
							</div>
						</div>
					</div>
				</div>
				<div class="single-hero-slider single-hero-slider-hm9 single-animation-wrap">
					<div class="row slider-animated-1">
						<div class="col-12 col-md-5 col-sm-6 col-lg-6 d-flex flex-column justify-content-center">
							<div class="hero-slider-content-6 slider-content-hm9 pr-5">
								<p class="animated title">
									| Кровельные системы
								</p>
								<p class="animated description pr-lg-5">Большой выбор кровельных материалов в нашем интернет-магазине. Предоставляем скидки</p>
								div(class="d-flex align-items-start")
									<a class="animated btn btn-round-10" href="#">подробнее</a>
							</div>
						</div>
						<div class="col-lg-6 d-none d-lg-block">
							<div class="hm9-hero-slider-img">
								<img class="animated lazyload" data-src="images/slider.png" alt="img">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="service-area">
		<div class="container">
			<div class="service-wrap service-wrap-hm9">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div class="service-icon">
								img(class="lazyload" data-src="images/delivery-truck1.svg" alt="img")
							</div>
							<div class="service-content">
								<span>Доставка<br>до объекта</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div class="service-icon">
								img(class="lazyload" data-src="images/calculator1.svg" alt="img")
							</div>
							<div class="service-content">
								<span>Расчет<br>материала</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div class="service-icon">
								img(class="lazyload" data-src="images/best-price1.svg" alt="img")
							</div>
							<div class="service-content">
								<span>Скидки и<br>бонусы</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div class="service-icon">
								img(class="lazyload" data-src="images/gift-box1.svg" alt="img")
							</div>
							<div class="service-content">
								<span>Скидки и<br>бонусы</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	include components/hot-area.pug
	include components/banner-area.pug
	include components/about-area.pug
	<div class="related-product pt-60 pb-40">
		<div class="container">
			<h2>Бренды</h2>
			<div class="related-product-active">
				div(class="d-flex justify-content-center")
					img(class="lazyload" data-src="images/partners1.png" alt="img")
				div(class="d-flex justify-content-center")
					img(class="lazyload" data-src="images/partners2.png" alt="img")
				div(class="d-flex justify-content-center")
					img(class="lazyload" data-src="images/partners3.png" alt="img")
				div(class="d-flex justify-content-center")
					img(class="lazyload" data-src="images/partners4.png" alt="img")
				div(class="d-flex justify-content-center")
					img(class="lazyload" data-src="images/partners5.png" alt="img")
			</div>
		</div>
	</div>
