extends base.pug
block content
	include components/breadcrumb-area.pug
	<div class="product-details-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="product-details-tab">
						<div class="pro-dec-big-img-slider">
							div()
								<img class="lazyload w-100 img-fluid" data-src="images/product.png" alt="img">
							div()
								<img class="lazyload w-100 img-fluid" data-src="images/product.png" alt="img">
							div()
								<img class="lazyload w-100 img-fluid" data-src="images/product.png" alt="img">
							div()
								<img class="lazyload w-100 img-fluid" data-src="images/product.png" alt="img">
							div()
								<img class="lazyload w-100 img-fluid" data-src="images/product.png" alt="img">
						</div>
						<div class="product-dec-slider-small product-dec-small-style1">
							<div class="product-dec-small active">
								<img class="lazyload" data-src="images/product.png" alt="img">
							</div>
							<div class="product-dec-small">
								<img class="lazyload" data-src="images/product.png" alt="img">
							</div>
							<div class="product-dec-small">
								<img class="lazyload" data-src="images/product.png" alt="img">
							</div>
							<div class="product-dec-small">
								<img class="lazyload" data-src="images/product.png" alt="img">
							</div>
							<div class="product-dec-small">
								<img class="lazyload" data-src="images/product.png" alt="img">
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					form(class="product-details-content pro-details-content-mrg" action="" method="")
						<h2>Керамическая черепица ABC TG10, Натуральный красный</h2>
						<div class="pro-details-price">
							<span class="new-price">от 700 руб./шт.</span>
						</div>
						p(class="product__description")
							| Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации систем массового участия. Задача организации, в особенности же укрепление и развитие структуры требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Товарищи! начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки систем массового участия.
						div(class="product__size")
							span
								| Размер: 300 x 30 мм
						<div class="pro-details-action-wrap d-flex ">
							input(class="input mr-4" type="number" value="1" step="1" min="1")
							button(class="btn" type="submit")
								| Добавить в корзину
						</div>
				</div>
			</div>
		</div>
	</div>
	<div class="description-review-wrapper pb-110">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="dec-review-topbar nav mb-45">
						<a class="active" data-toggle="tab" href="#des-details1">Описание</a>
						<a data-toggle="tab" href="#des-details2">Характеристики</a>
						<a data-toggle="tab" href="#des-details3">Документация</a>
					</div>
					<div class="tab-content dec-review-bottom">
						<div id="des-details1" class="tab-pane active">
							<div class="description-wrap">
								p
									| Таким образом начало повседневной работы по формированию позиции играет важную роль в формировании форм развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что укрепление и развитие структуры представляет собой интересный эксперимент проверки систем массового участия. С другой стороны сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации модели развития. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
							</div>
						</div>
						<div id="des-details2" class="tab-pane">
							<div class="specification-wrap table-responsive">
								<table>
									<tbody>
										<tr>
											<td class="title width1"><b>Имя</b></td>
											<td>Salwar Kameez</td>
										</tr>
										<tr>
											<td class="title width1"><b>Модель</b></td>
											<td>FX 829 v1</td>
										</tr>
										<tr>
											<td class="title width1"><b>Категория</b></td>
											<td>Digital Print</td>
										</tr>
										<tr>
											<td class="title width1"><b>Размер</b></td>
											<td>60’’ x 40’’</td>
										</tr>
										<tr>
											<td class="title width1"><b>Бренд</b></td>
											<td>Individual Collections</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div id="des-details3" class="tab-pane">
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	include components/banner-area.pug
	div(class="container pt-50 pb-30")
		div(class="row")
			div(class="col-12")
				h2(class="mb-40")
					| С этим товаром покупают
			div(class="col-12")
				include components/hot-product.pug
	
