/* INCLUD SASS */
@import "template/vendor.min.css";
@import "template/plugins.min.css";
@import "template/style.min.css";

@import "./mixin.scss";
@import "default/_default";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";
@import "breadcrumb/_breadcrumb";
@import "catalog/_catalog";
@import "product/_product";
@import "about/_about.scss";
@import "cart/_cart";


.slider-area {
	min-height: 489px;

	display: flex;
	align-items: center;

	.hero-slider-content-6.slider-content-hm9 {
		padding: 0px;
	}

	.single-hero-slider {
		padding: 100px 0 70px 0;
		.title {
			@include font-gilroy;
			font-weight: 600;
			font-size: 48px;
			line-height: 57px;
			text-transform: unset;
			color: #000000;
			text-align: left;
			letter-spacing: 0px;
			margin-top: 0px;
			margin-bottom: 25px;
			@media (max-width: 991px) {
				font-size: 36px;
				line-height: 43px;
			}
		}
		.description {
			@include font-gilroy;
			font-size: 24px;
			line-height: 28px;
			color: #000000;
			text-align: left;
			margin-bottom: 29px;
		}
		@media (max-width: 991px) {
			padding: 40px 0px;
		}
	}
	.nav-style-1>span {
		&:hover {
			background-color: $colorMain;
		}
	}
	.nav-style-1.nav-style-1-modify-2:hover span {
		left: -50px;
		@media (max-width: 991px) {
			left: 0px;
		}
	}
	.nav-style-1.nav-style-1-modify-2:hover span.slider-icon-1-next {
		right: -50px;
		left: unset;
		@media (max-width: 1300px) {
			right: 0px;
		}
	}
}

.single-service-wrap {
	.service-content {
		span {
			@include font-gilroy;
			font-size: 24px;
			line-height: 28px;
			color: #000000;
			margin: 0px;
		}
	}
	.service-icon {
		margin-right: 50px;
		
	}
	&:hover {
		.service-icon {
			img {
				animation: .5s ease-in-out 0s normal none 1 running flipOutY;
			}
		}
	}
}


.service-area {
	.service-wrap {
		padding: 90px 0 66px 0;
		background: #FFFFFF;
		margin: 0px;
		@media (max-width: 991px) {
			padding: 25px 0px;
		}
	}
}

.banner-area {
	padding-top: 55px;
	background: #F4F4F4;
	.subtitle {
		@include font-gilroy;
		font-size: 18px;
		line-height: 21px;
		color: #52891D;
		margin-bottom: 16px;
	}
	.title {
		@include font-gilroy;
		font-weight: 600;
		font-size: 36px;
		line-height: 43px;
		color: #000000;
		margin-bottom: 14px;
	}
	.description {
		@include font-gilroy;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		margin-bottom: 13px;
	}
	.margin-top_100 {
		margin-top: -100px;
	}
	.btn {
		@media (max-width: 700px) {
			width: 100%;
		}
	}
	@media (max-width: 991px) {
		padding-bottom: 35px;
	}
}
.banner-wrap {
	height: 100%;
	&.banner-wrap_1{
		background: #F0F0F0;
		padding: 58px 7px 8px 66px;
		.link {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
		}
		@media (max-width: 991px) {
			padding: 58px 20px 8px 66px;
		}
	}
	&.banner-wrap_2{
		background: #E5E5E5;
		padding: 28px 18px 22px 21px;
		.title {
			font-family: Gilroy;
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
			color: #000000;
			&:hover {
				color: $colorMain;
				transition: $mainTransition;
				text-decoration: none;
			}
		}
		.banner-content-20 .banner-content-20-top {
			justify-content: flex-start;
		}
		.banner-content-20 .banner-content-20-top .banner-content-20-brand>span {
			font-family: Gilroy;
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
			text-align: center;
			color: #FFFFFF;
			padding: 7px 3px 6px 5px;
			background: #174051;

			margin-bottom: 22px;
		}
	}
	.banner-content-11 {
		position: unset;
		transform: unset;
		h2 {
			font-family: Gilroy;
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
			color: #000000;
			margin-bottom: 40px;
		}
		p {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;
			color: #565656;
			margin-bottom: 90px;
			@media (max-width: 991px) {
				margin-bottom: 30px;
			}
		}
		a {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #000000;

			display: flex;
			align-items: center;
			i {
				margin-left: 10px;
				font-size: 10px;
				line-height: 100%;
			}
		}
	}
	.banner-content-20 {
		position: unset;
		transform: unset;
	}
	.banner-img {
		overflow: unset;
	}
}


.product-slider-active-3 {
	.slick-arrow {
			border-radius: 100%;
			
			display: flex;
			align-items: center;
			justify-content: center;
			
			width: 35px;
			height: 35px;
			background-color: #fff;
			box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
			padding: 10px;

			font-size: 16px;
    		margin-right: -3px;
		@media (max-width: 991px) {
			visibility: unset;
			opacity: 1;
		}
		&:hover {
			background-color: $colorMain;
			color: #fff;;
		}
	}
	@media (max-width: 991px) {
		padding: 0 70px;
	}
}

.related-product-active {
	padding: 0 50px;
	h2 {
		@include font-gilroy;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		
		padding-bottom: 32px;
		margin: 0px;
	}
	.slick-track {
		display: flex;
		align-items: center;
	}
}


.product-area {
	padding: 66px 0 80px 0;
	.section-title-6 h2 {
		@include font-gilroy;
		font-weight: 600;
		text-transform: unset;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin-bottom: 25px;
	}
	.nav {
		margin-bottom: 38px;
		a {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;
			color: #565656;
			transition: $mainTransition;
			&.active {
				text-decoration: none;
				color: $colorMain;
				transition: $mainTransition;
			}
		}
	}
}
.single-product-wrap {
	.product-img .product-action-2 a {
		display: block;
		border: none;
		padding: 0;
		line-height: 1;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		color: #000000;
		border-radius: 100%;
		background-color: #ffffff;
		margin-bottom: 7px;
		border: 1px solid #ebebeb;

		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			border: 1px solid $colorMain;
			background: $colorMain;
			color: #fff;
		}
	}
	.product-img .product-action-2 a:nth-child(1) {
		-webkit-transition-delay: .2s;
		-o-transition-delay: .2s;
		transition-delay: .2s;
		opacity: 0;
		visibility: hidden;
		margin-top: -10px;


	}
	.product-img span.pro-badge {
		left: 0px;
		background: $colorMain;
		padding: 2px 10px;

		@include font-gilroy;
		font-size: 14px;
		line-height: 17px;
		color: #FFFFFF;
	}
	.product-content-wrap-3 .title {
		@include font-gilroy;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		color: #454545;
		margin-bottom: 9px;
		&:hover {
			color: $colorMain;
		}
	}
	.product-content-wrap-3 .product-price-4 span {
		&.new-price {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: $colorMain;
		}
		&.old-price {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			text-decoration-line: line-through;
			color: #9C9E9C;
		}
	}
	&:hover {
		.product-img .product-action-2 a:nth-child(1) {
			-webkit-transition-delay: .1s;
			-o-transition-delay: .1s;
			transition-delay: .1s;
			opacity: 1;
			visibility: visible;
			margin-top: 0;
		}
	}
}



.team {
	padding: 0 0 90px 0px;
	h2 {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000000;

	}
	.title {
		display: block;
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin: 0px;
	}
	.subtitle {
		display: block;
		margin: 0px;
		padding-bottom: 16px;
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
	}
	.product-plr-1 {
		padding: 0px!important;
		height: 100%;
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
	}
}

.content-page {
	padding: 100px 0px;
	img {
		max-width: 100%;
	}
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
