.header-area {
	.header-middle {
		padding: 18px 0px 15px 0px;
		@media (max-width: 991px) {
			padding: 1px 0 14px 0;
		}
	}

	.header-bottom {
		padding-bottom: 2px;
		.main-categori-wrap.main-categori-wrap-modify-2>a {
			position: relative;

			background-color: $colorMain;
			padding: 14px 20px;
			min-height: unset;
			height: 100%;
			border: 2px solid transparent;
			border-radius: 5px 5px 0px 0px;

			display: flex;
			align-items: center;
			justify-content: center;
			.burger {
				position: absolute;
				top: calc(50% - 8px);
				left: 14px;
				width: 30px;
				height: 17px;
				span {
					display: block;
					width: 100%;
					background-color: #fff;
					height: 1px;
					&:nth-child(2) {
						margin: 7px 0px;
					}
				}
			}
			&:hover {
				border-color: $colorMain;
				color: $colorMain;
				background: none;
				.burger {
					span {
						background-color: $colorMain;
					}
				}
			}
			@media (min-width: 991px) and (max-width: 1200px) {
				padding: 14px 4px;
				justify-content: flex-end;
			}
		}
	}

	.main-menu {
		ul {
			padding: 0px;
		}
		.main-menu__link {
			a {
				@include font-gilroy;
				font-size: 18px;
				line-height: 21px;
				color: #000000;
				padding: 2px 15px;
				position: relative;
				&:before {
					content: "";
					position: absolute;
					left: 0px;
					right: 0px;
					bottom: 0px;
					height: 2px;
					display: none;
					background-color: $colorMain;
				}
				&:hover {
					text-decoration: none;
					color: $colorMain;
				}
				@media (min-width: 992px) and (max-width: 1200px) {
					font-size: 14px;
					padding: 15px 6px;
				}
			}

			&.active {
				a {
					color: $colorMain;
					&:before {
						display: block;
					}
				}
			}

		}
	}
	.cart-active {
		display: flex;
		align-items: flex-end;
	}
}
.social-area {
	a {
		margin-right: 17px;
		&:last-child {
			margin: 0px;
		}
	}
}
.minicart {
	.minicart__count {
		position: absolute;
		top: -50%;
		right: -50%;
		background-color: $colorMain;
		width: 20px;
		height: 20px;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		@include font-gilroy;
		color: #fff;
		font-size: 14px;
	}
	.minicart__price {
		transition: $mainTransition;
		@include font-gilroy;
		font-size: 14px;
	}
	svg {
		path {
			transition: $mainTransition;
		}
	}
	&:hover {
		.minicart__price {
			color: $colorMain;
			transition: $mainTransition;
		}
		svg {
			path {
				fill: $colorMain;
				transition: $mainTransition;
			}
		}
	}
}
.sidebar-cart-active {
	z-index: 99999;
	.cart-close {
		width: 30px;
		height: 30px;
		font-size: unset;
		line-height: unset;
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			width: 14px;
			svg {
				transition: $mainTransition;
			}
		}
		&:hover {
			svg {
				path {
					transition: $mainTransition;
					fill: $colorMain;
				}
			}
		}
	}
	.cart-content {
		.title {
			display: block;
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			text-transform: uppercase;
			color: #000000;
			margin: 0 0 35px 0;
		}
		.single-product-cart {
			.cart-title {
				display: flex;
				flex-direction: column;
				a {
					font-family: Gilroy;
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 19px;
					color: #000000;
					margin-bottom: 14px;
					&:hover {
						color: $colorMain;
					}
				}
				span {
					display: block;
					font-family: Gilroy;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 16px;
					color: #000000;
					margin-bottom: 0px;
				}
			}
		}
	}
}
.header-small-device {
	padding: 7px 0px;
	.mobile-logo {
		img {
			max-width: 56px;
		}
	}
}

.main-color-svg {
	svg {
		width: 24px;
		path {
			fill: #000;
		}
	}
}
.mobile-header-button-active {
	width: 20px;
	height: 20px;
	position: relative;
	span {
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
		left: 0px;
		right: 0px;
		top: calc(50% - 1px);
	}
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
		left: 0px;
		right: 0px;
		top: 4px;
	}
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
		left: 0px;
		right: 0px;
		bottom: 4px;
	}
}
.mobile-header-active {
	z-index: 10000;
	.clickalbe-sidebar-wrap .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li {
		&:hover>a {
			color: $colorMain;
		}
		&.active>a {
			color: $colorMain;
		}
	}
	.categori-show {
		@media (max-width: 991px) {
			display: flex!important;
			justify-content: space-between;
			align-items: center;
		}
	}
	.sidebar-close {
		width: 20px;
		svg {
			width: 20px;
			path {
				transition: $mainTransition;
			}
		}
		&:hover {
			svg {
				path {
					fill: $colorMain;
					transition: $mainTransition;
				}
			}
		}
	}
	.mobile-contact-info {
		a {
			&:hover {
				color: $colorMain;
				text-decoration: none;
			}
		}
	}
}





.catalog-drop {
    position: fixed;
    z-index: 100;
    top: 0px;
    right: 100%;
    bottom: 0px;
    left: -100%;
    opacity: 0;
    transition: $mainTransition;
    
    background-color: rgba(255, 255, 255, 0.95);
    
    padding-bottom: 25px;
    
    overflow: auto;
    
	display: none;
	&.show {
		right: 0px;
		left: 0px;
		opacity: 1;
		transition: $mainTransition;
		display: block;
		@media (max-width: 991px) {
			right: 0px;
			left: 0px;
		}
	}
	@media (max-width: 991px) {
		right: -100%;
		left: 100%;
	}
}

.catalog-drop-header {
    position: fixed;
    z-index: 101;
    top: 0px;
    right: 0px;
    left: 0px;
    
    display: flex;
    justify-content: center;
    
    
    
    padding: 10px 0px;
    height: 72px;
}
.catalog-drop-header .logo {
    max-width: 60px;
}
.catalog-drop-close {
	cursor: pointer;
	svg {
		width: 16px;
		transition: $mainTransition;
		path {
			transition: $mainTransition;
		}
	}
	&:hover svg path{
		fill: $colorMain;
		transition: $mainTransition;
	}
}
.catalog-drop .title {
	@include font-gilroy;
    font-weight: bold!important;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
    
    display: flex;
	align-items: center;
	margin-bottom: 40px;
    span {
         position: relative;
	}
	img {
		width: 40px;
		margin-right: 10px;
	}
	&:hover {
		color: $colorMain;
	}
     &.active {
        color: $colorMain;
        span {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
                background-color: $colorMain;
            }
        }
    }
}
.mobile-menu-wrap .btn-catalog-drop .title-mob {
    min-height: unset;
    color: #4dbdaf;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .25px;
    display: block;
    width: 100%;
    line-height: 1;
    padding: 0 14px 0 20px;
    background: none;
}
.btn-catalog-drop .title-mob svg path{
    stroke: #000;
}

.catalog-drop .catalog-drop-header {
    display: none;
}
.catalog-drop.show .catalog-drop-header {
    display: block;
}