.product-details-area {
	padding: 90px 0px;
	.pro-details-action-wrap {
		border: 0px;
		padding: 0 0 21px 0px;
	}
	.product-details-content {
		h2 {
			@include font-gilroy;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
			margin-bottom: 28px;
		}
		.pro-details-price {
			margin: 0px 0px 25px 0px;
			span {
				@include font-gilroy;
				font-size: 18px;
				line-height: 21px;
				color: #000000;
				margin: 0px;
			}
		}
		.product__description {
			@include font-gilroy;
			font-size: 14px;
			line-height: 16px;
			color: #9C9E9C;
			margin-bottom: 30px;
		}
		.product__size {
			@include font-gilroy;
			font-size: 18px;
			line-height: 21px;
			color: #000;
			padding-bottom: 55px;
		}
	}
	@media (max-width: 991px) {
		padding-top: 50px;
	}
}
.related-product-active {
	.slick-list {
		padding-bottom: 25px;
	}
}
.dec-review-bottom  {
	.description-wrap {
		p {
			@include font-gilroy;
			font-size: 18px;
			line-height: 21px;
			color: #000000;
		}
	}
}
.dec-review-topbar {
	justify-content: flex-start;
	border: 0px;
	margin-bottom: 27px;
	a {
		@include font-gilroy;
		font-size: 18px;
		line-height: 21px;
		color: #454545;

		padding: 0px 0px 5px 0px;
		margin-right: 35px;

		transition: $mainTransition;
		&.active {
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #000;
			transition: $mainTransition;
			&:before {
				background-color: #000;
			}
		}
		&:last-child {
			margin: 0px;
		}
	}
}
.product-dec-small-style1 span:hover {
	border-color: $colorMain;
	background-color: $colorMain;
}
